# Project exclude paths
/"/
/.jpb/
/src/main/resources/application.properties
/.idea/
/uploads/
/.idea/artifacts/

/.idea/dataSources/

/.idea/inspectionProfiles/

/.idea/shelf/

/.idea/.gitignore

/.idea/aws.xml

/.idea/compiler.xml

/.idea/dataSources.local.xml

/.idea/dataSources.xml

/.idea/encodings.xml

/.idea/jarRepositories.xml

/.idea/jpa-buddy.xml

/.idea/jpa-buddy-datasource.xml

/.idea/jsLibraryMappings.xml

/.idea/misc.xml

/.idea/runConfigurations.xml

/.idea/sqldialects.xml


/.idea/uiDesigner.xml

/.idea/vcs.xml

/.idea/workspace.xml
/Users/evgeniipashkov/Downloads/myblog/.idea

